<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo autorizacion proveedor</title>
</head>

<body>
    <div style="margin:  0 auto; width: 200px 10px;">
        <div style="padding-left: 100px; padding-bottom: 200px; padding-top: 60px; ">
            <p style="font-size: 20px; font-weight: bold;">Información de contacto</p>
            <p style="margin: 15px 0px; font-size: 16px;"><span style="font-weight: bold;">Correo electrónico:
                </span>isagaleano9@gmail.com </p>
            <p style="margin: 15px 0px; font-size: 16px;"><span style="font-weight: bold;">Nombre y apellido:
                </span>Isabel Galeano </p>
            <p style="margin: 15px 0px; font-size: 16px;"><span style="font-weight: bold;">Teléfono:
                </span>84511935</p>
            <p style="margin: 15px 0px; font-size: 16px;"><span style="font-weight: bold;">Mensaje: 
                </span>Problemas con mi cuenta</p>

        </div>

    </div>


</body>

</html>